.map g {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1;
}

.map g:hover {
  fill: #fc0 !important;
  cursor: help;
}

.info_panel {
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  border: 1px solid #333;
  width: fit-content;
  color: #333;
  white-space: nowrap;
}

.info_panel::first-line {
  font-weight: bold;
}
